html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.legal {
	font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
}

.jumbotron-home {
	background-image: url('/img/HomeMain.jpg');
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

.jumbotron-maps {
	background-image: url('/img/GoogleMapsPreview2.png');
	background-repeat: no-repeat;
	background-position-y: 75%;
	background-size: 50%;
	background-color: #89c540;
	padding-left: 350px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.jumbotron-description {
	background-color: #3179B5;
	background-image: url('/img/RacePacePreview2.png');
	background-repeat: no-repeat;
	background-size: 300px;
	padding-right: 350px;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.jumbotron-safe {
	background-image: url('/img/RacePaceSafe.png');
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: left;
	background-color: #5D5EAA;
	padding-left: 350px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.jumbotron-compare {
	background-color: #F15E2E;
	padding: 40px 40px;
}

.jumbotron-signup {
	background-color: #71B1E1;
}

.jumbotron-contact {
	background-image: url('/img/ContactMain.jpg');
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

.jumbotron-about {
	background-image: url('/img/AboutMain.jpg');
	background-size: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.jumbotron-strava {
	background-image: url('/img/StravaList.jpg');
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 200px;
	color: white;
	text-align: center;
}

.jumbotron-view {
	background-image: url('/img/viewMain.jpg');
	background-size: cover;
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 200px;
	text-align: left;
}

.stravaList {
	
}

.subnavbar {
	top: 50px;
	z-index: 1;
}

.container-padding {
	padding-top: 40px;
}

.jumbotron-container {
  padding: 40px 15px;
  text-align: center;
  min-height: 250px;
}

.jumbotron-left {
	text-align: left;
	margin: 0px;
	background-position: right;
}

.jumbotron-right {
	text-align: right;
	margin: 0px;
}

.data-table-center
{
	text-align: center;
	margin: 0px;
}

.data-table-main td
{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.data-table-main h2
{
	margin-top: 2px;
	margin-bottom: 1px;
}

.data-table col:nth-child(n+2)
{
	border-left: solid 1px;
	border-color: #CCC;
}

.data-table td
{
	padding-left: 10px;
}

.data-table th
{
	padding-left: 10px;
}

.no-margin
{
	margin: 0px;
}

.subheader
{
	font-size: 20px;
}

.subtext
{
	font-size: 10px;
}

.detail-date
{
	margin:0px;
}

.detail-title
{
	margin-top: 0px;
	margin-bottom: 15px;
}

.detail-description
{
	margin: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.relative {
	position: relative;
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	left: -50px;
	top: -25px;
}

.racepace-header {
	position: relative;
	top: -60px;
	height: 0px;
}

.racepace-container {
	position: relative;
	text-align: center;
}

.avatar-large {
	width: 124px;
	height: 124px;
	border-radius: 50%;
}

.racepace-label {
	position: relative;
	top: 15px;
	font-size: 100%;
}

.racepace-time-label {
	font-size: 100%
}
.activity {
	height: 50px;
}

.summary{
	position: absolute;
	left: 5px;
	top: 5px;
}

.options {
	position: absolute;
	right: 15px;
	top: 50px;
}
.chart-info {
	text-align: center;
	color: #777;
	background-color: #eee;
	font-weight: bold;
}

.chart-line {
	border-left: 1px solid #333;
	position: absolute;
	height: 100%;
	width: 1px;
	left: 0px;
	top: 0px;
	z-index: 10;
	pointer-events: none;
}