html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.subnavbar {
	top: 50px;
	z-index: 1;
}

.container-padding {
	padding-top: 40px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.data-table-center
{
	text-align: center;
}

.data-table-main td
{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.data-table-main h2
{
	margin-top: 2px;
	margin-bottom: 1px;
}

.data-table col:nth-child(n+2)
{
	border-left: solid 1px;
	border-color: #CCC;
}

.data-table td
{
	padding-left: 10px;
}

.data-table th
{
	padding-left: 10px;
}

.no-margin
{
	margin: 0px;
}

.subheader
{
	font-size: 20px;
}

.subtext
{
	font-size: 10px;
}

.detail-date
{
	margin:0px;
}

.detail-title
{
	margin-top: 0px;
	margin-bottom: 15px;
}

.detail-description
{
	margin: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.relative {
	position: relative;
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	left: -65px;
	top: -10px;
}

.racepace-header {
	position: relative;
	top: -60px;
	height: 0px;
}

.racepace-container {
	position: relative;
	text-align: center;
}

.avatar-large {
	width: 124px;
	height: 124px;
	border-radius: 50%;
}

.racepace-label {
	position: relative;
	top: 15px;
	font-size: 100%;
}

.racepace-time-label {
	font-size: 100%
}
.activity {
	height: 50px;
}

.summary{
	position: absolute;
	left: 5px;
	top: 5px;
}

.options {
	position: absolute;
	right: 15px;
	top: 50px;
}
.chart-info {
	text-align: center;
	color: #777;
	background-color: #eee;
	font-weight: bold;
}