<html>
<head>
	<title>Race Pace: Activity List</title>
	<span data-stencil='head'></span>
	<script type="text/javascript" src="/code/table.js"></script>
</head>
<body>
	<span data-stencil='navbar'></span>
	<div class='jumbotron jumbotron-strava'>
		<h1>My Activities</h1>
	</div>
	<div class="container">
		<div class="panel panel-default stravaList">
		  <!-- Default panel contents
		  <div class="panel-body">
		    <h1>Select from the following activites:</h1>
		  </div>
			-->
		  <!-- Table -->
		  <span data-if="{req.sessionData.strava.activitiesPage.length} == 0">
		  	No Activites found!
		  </span>
		  <span data-if="{req.sessionData.strava.activitiesPage.length} > 0" >
			<table id="activities" class="table" data-path="req.sessionData.strava.activitiesPage">
				<tr data-if="{%index}===0" class="active primary">
				  	<th></th> <!-- Map preview -->
				    <th>Type</th>
				    <th>Date</th>
				    <th>Title</th>
				    <th>Distance</th>
				    <th>Elevation</th>
				    <th><span style="color:#1b809e; font-weight:bold">Race Pace</span></th>
				    <th></th> <!-- Race Pace button -->
				</tr>
				<tr data-set-onmouseover="highlightRow('activities',{%index}+1)" class="activity">
					<td></td> <!-- Map preview -->
					<td data-path=".type"></td>
					<td data-path=".start_date.displayDateShortWithDay()"></td>
					<td data-if=".name" data-path=".name"></td>
					<td data-if="!{.name}"><span data-path=".location_city">San Jose</span>, <span data-path=".location_state"></span></td>
					<td><span data-path=".distance.MtoKM().round(1)">99</span> KM</td>
					<td><span data-path=".total_elevation_gain.round(0)">9999</span> M</td>
					<td><span data-if="!{req.sessionData.strava.account.entries}[{.id}]">----</span><span data-if="{req.sessionData.strava.account.entries}[{.id}]" data-path="{req.sessionData.strava.account.entries}[{.id}].racepace.displayTime(false,true)" style="color:#1b809e; font-weight:bold">1:23:45</span></td>
					<td width="60px"><a type="button" class="btn btn-default hideWhenUnactive hidden" data-set-href="/stream?id={.id}"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
				</tr>
			</table>

			<div class="panel-body">
				<ul class="pager">
			    	<li data-run='if ({%urlVars.page}===undefined) {%urlVars.page=1};' data-set-class="previous {%urlVars.page.map('1:disabled')}"><a data-set-href="/strava?page={%urlVars.page-1|1}"><span aria-hidden="true">&larr;</span> Newer</a></li>
			    	<li class="refresh"><a data-set-href="/strava?page={%urlVars.page}&refresh=1"><span class="glyphicon glyphicon-refresh"></span> Refresh List</a></li>
			    	<li data-run='({%urlVars.page}) * 20 >= {req.sessionData.strava.activities.length} ? {%urlVars.hasnext=0} : {%urlVars.hasnext=1};' data-set-class="next {%urlVars.hasnext.map('0:disabled')}"><a data-set-href="/strava?page={%urlVars.page-1+2 || 2}">Older <span aria-hidden="true">&rarr;</span></a></li>
				</ul>
			</div>
		  </span>
		</div>
	</div>
	<span data-stencil='footer'></span>
	<span data-stencil='last'></span>
</body>
</html>